.contact_page {

}

.contact_page .title {
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid rgba(0, 0, 0, .12);
}
.contact_page .title a {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	color: #444;
}
.contact_page .body {
	/**/
}
.contact_page .body span {
	display: block;
	margin-bottom: 10px;
}

.contact_page .body iframe {
	text-align: center;
	width: 100%;
}